.mypage-container {
    background: #00BACA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .mypage-box {
    width: 95vw; /* 画面幅の80% */
    height: 90vh; /* 画面の高さの60% */
    border-radius: 10px;
    background: #EFF;
    padding: 2%; /* ボックス内の余白を画面の2%に設定 */
    box-sizing: border-box; /* paddingが幅と高さに含まれるように調整 */
  }
  
  
  .sub-title {
    color: #00ADAD;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .logout-button {
    width: 158px;
    height: 59px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    background: #00ADAD;
    color: white; /* ボタンの文字色 */
    font-family: 'Inter', sans-serif; /* フォント */
    font-size: 18px; /* フォントサイズ */
    font-weight: 700; /* フォント太さ */
    position: absolute; /* 位置を絶対指定 */
    text-decoration: underline;
    top: 100px; /* 親要素（mypage-container）から20px下 */
    right: 100px; /* 親要素（mypage-container）から20px右 */
    cursor: pointer; /* マウスカーソルをポインタに */
    display: flex;
    justify-content: center; /* テキストを中央に配置 */
    align-items: center; /* テキストを中央に配置 */
    transition: background 0.3s ease; /* ホバー時のアニメーション */
  }
  
  .logout-button:hover {
    background: #007C7C; /* ホバー時の色変更 */
  }
  
  .link-boxes {
    margin-top: 100px; /* 上部の余白を40pxに設定 */
    display: flex;
    flex-direction: column; /* リンクボックスを縦に並べる */
    align-items: center; /* 横方向に中央寄せ */
  }
  
  .link-box {
    width: 70vw; /* ボックスの幅 */
    height: 10vh; /* ボックスの高さ */
    flex-shrink: 0;
    border-radius: 20px;
    border: 4.5px solid rgba(0, 173, 173, 0.60);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 173, 173, 0.25);
    display: flex;
    justify-content: flex-start; /* 横方向は左寄せ */
    align-items: center; /* 縦方向の中央寄せ */
    margin: 20px auto; /* ボックスを中央に配置 */
    padding: 0 20px; /* 左右のパディング */
  }
  
  .link-box a {
    color: #00BACA;
    font-family: 'Inder', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-align: left; /* 文字を左寄せ */
    width: 100%; /* aタグが親要素の幅を占めるように */
  }
  
  .link-box a:hover {
    color: #007C7C;
  }
  