.build-card-container {
    padding-top: 100px;
    display: flex;
    justify-content: center; /* 水平方向の中央配置 */
    align-items: center;     /* 垂直方向の中央配置 */
    gap: 20px;               /* カード間のスペース */
    margin-top: 20px;        /* 上部に少しスペースを確保 */
    flex-wrap: wrap;         /* 画面幅に応じて折り返し */
  }

  