.job-searcher-detail-card {
    width: 80vw;
    height: 70vh;
    border-radius: 20px;
    border: 4.5px solid rgba(0, 173, 173, 0.60);
    background: #eff;
    box-shadow: 4px 4px 4px 0px rgba(0, 207, 207, 0.25);
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* 絶対位置の要素との関係を明確にする */
  }
  
  .detail-left {
    width: 60%; /* 左側の情報部分 */
    display: flex;
    flex-direction: column;
    gap: 10px; /* アイテム間にスペースを追加 */
  }
  
  .info-item {
    display: flex;
    margin-bottom: 10px;
  }
  
  .info-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .divide-line {
    position: absolute;
    left: 50%;
    top: 0; /* 基本的にはtopを0にして、flexboxで配置する */
    transform: translateX(-50%);
    width: 3px;
    height: 100%; /* カード全体の高さに合わせる */
    background: rgba(0, 173, 173, 0.60);
    border-radius: 2px;
  }
  
  .detail-right {
    width: 40%; /* 右側の情報部分 */
    display: flex;
    flex-direction: column;
    gap: 10px; /* アイテム間にスペースを追加 */
  }
  
  .readonly-textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #000;
    resize: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #555;
  }
  
  .transport-options {
    display: flex;
    flex-direction: column;
  }
  
  .transport-option {
    display: flex;
    align-items: center;
  }
  
  .transport-option input {
    margin-right: 10px;
  }
  
  .transport-option label {
    font-size: 14px;
  }
  